@mixin firefox-only {
    @at-root {
        @-moz-document url-prefix() {
            & {
                @content;
            }
        }
    }
}


canvas {
    image-rendering: pixelated;
    @include firefox-only {
        image-rendering: crisp-edges;
    }
    width: 1080px; /*256px; 1024px; 2048px;*/
    height: 1080px; /*192px; 768px; 1536px;*/
}